*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/* stili header (navigation bar) */

header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}

.login{
    border: transparent;
    border-radius: 15px;
    padding: 7px 20px;
    color: black;
    background-color: white;
}

.container_navigation_bar{
    min-height: 70px;
}

nav{
    padding-top: 10px;
}

.list_heater > li{
    color: black;
    list-style-type: none;
    display: inline-block;
    margin-right: 50px;
}

a:link { text-decoration: none; 
    color: white;}

a:hover{
text-decoration: underline;
}      

.login:hover{
text-decoration: underline;;
}

.flex {
    display: flex;
}

.navigation_bar.flex{
    display: flex;
    min-height: 50px;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

/* stili header (intro) */


h1{
    color: white;
    padding: 50px;
}

.paragrafo_intro{
    color: white;
    font-weight: bolder;
}

.container_paragrafo{
    min-height: 300px;
    padding: 30px;
    text-align: center;
}

.download{   border: transparent;
    border-radius: 15px;
    padding: 7px 20px;
    color: black;
    background-color: white;
    margin-right: 15px;
}

.open{   border: transparent;
    border-radius: 15px;
    padding: 7px 20px;
    color: white;
    background-color: black;
}

#button_download_open{
    padding: 50px;
}

.fas{
    margin: 0 10px;
}

.intro{
    width: 50%;
    height: 330px;
    margin: auto;
}


/* stili main */

.info_white{
    padding: 50px;
}

/* immagini */

.item_white{
    width: 450px;
}

/* paragrafi */

.item_gray{
    width: 450px;
    margin: 50px 250px;
}

h2{font-size: 31px;
    padding-top: 70px;
}

p{
    padding-top: 20px;
    font-size: 14px;
}

.wave{
    height: 80px;
    background-image: url(../img/wave.svg);
    filter: opacity(0.04);
    background-size: cover;
}

.wave.girato{
    transform: rotate(180deg);
}

.info_gray{
    background-color: rgb(246, 246, 246);
    padding: 50px;
}


.container_info_gray.container_info_white {
    width: 80%;
    margin: auto;
}


.info_image{
    width: 60%;
}

.info_text{
    width: 20%;
    font-size: 14px;
    flex-wrap: wrap;
}

.info_videocall{
    background-color: lightgray;
    padding: 50px;
    text-align: center;
}

.container_videocall{
    width: 55%;
    height: 700px;
    margin: auto;
}

#big_img{
    max-width: 730px;
    margin: auto;
}


.container_star.flex{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#star {
    background-image: url(../img/stars.svg);
    background-size: 257px;
}

.download_violet{
    background-color: blueviolet;
    border: transparent;
    border-radius: 15px;
    padding: 7px 20px;
    color: white;
    margin-top: 20px;
}


/* fine stili paragrafo */


/* stili footer (lista social, prodotto, compagnia, risorse, norme) */

.info_list{
    background-color: rgba(39, 36, 36, 0.966);
    padding: 30px;
}

/* PARTE SOCIAL */

#italian_flag{
    width: 20px;
}

#italian_lang{
    font-size: 10px;
    vertical-align: middle;
    display: inline-block;
    color: white;
}

.fa-solid{
    font-size: 10px;
    color: white;
}

h4{
    color: blueviolet;
    font-size: 21px;
    padding-bottom: 15px;
}

.fa-brands{
    margin-right: 10px;
    color: white;
}

.logo_social{
    padding-top: 15px;
}

/* FINE PARTE SOCIAL */




/* INIZO STILI LISTA */

.container_list.flex{
    justify-content: center;
    padding-bottom: 60px;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid blueviolet;
}

#social{
    width: 240px;
    height: 700px;
}

.list{
    width: calc(90%/4);
    height: 700px;
}

.list_footer>li{
    padding-top: 10px;
    font-size: 5px;
    font-size: 12px;
    font-weight: bolder;
    list-style-type: none;
}

.list_footer:first-child{
    color: blueviolet;
}

/* FINE STILI LISTA */

.container_navigation_bar_footer{
    background-color: rgba(39, 36, 36, 0.966);
    padding: 30px;
}

.subscribe_button{
    border: transparent;
    border-radius: 15px;
    padding: 7px 20px;
    color: white;
    background-color: blueviolet;
    margin-right: 15px;
}



.navigation_bar_footer.flex{
    min-height: 80px;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: auto;
}